.slider{
    margin-top: 5px;
}

.slider ul li button::before{
    font-size: 10px;
    color: rgb(150, 158, 171);
}

.slider li .slick-active button::before{
    color: white;
}

.slick-list{
    overflow: visible;
}

.slick-next::before{
    content: '';
}

button{
    display: none;
}

.carousel{
    cursor: pointer;
}

.carousel img{
border: 4px solid transparent;
   width: 100%;
   min-height: 180px;
   height: 100%;
   border-radius: 4px;
   box-shadow: rgba(0 0 0 / 69%) 0px 26px 30px -10px ,
   rgb(0 0 0 / 73%) 0px 16px 10px -10px;
   transition-duration: 300ms;
}

.carousel img:hover{
    border: 4px solid rgba(249, 249, 249, 0.3);
}